# Series

In [5]:
import numpy as np
import pandas as pd

In [7]:
# Creating List

In [6]:
labels = ['A','B','C']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [9]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [10]:
pd.Series(data=my_list,index=labels)

A    10
B    20
C    30
dtype: int64

In [11]:
pd.Series(my_list,labels)

A    10
B    20
C    30
dtype: int64

In [12]:
# Calling NumPy Arrays

In [13]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [14]:
pd.Series(arr,labels)

A    10
B    20
C    30
dtype: int32

In [15]:
# Calling Dictionary

In [16]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [17]:
pd.Series (d.values())

0    (10, 20, 30)
1    (10, 20, 30)
2    (10, 20, 30)
dtype: object

In [19]:
pd.Series(d.values(),labels)

A    (10, 20, 30)
B    (10, 20, 30)
C    (10, 20, 30)
dtype: object

In [20]:
d.values()

dict_values([10, 20, 30])

# Using Index

In [21]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','INDIA', 'Japan'])

In [22]:
ser1

USA        1
Germany    2
INDIA      3
Japan      4
dtype: int64

In [23]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','CHINA', 'Japan'])

In [24]:
ser2

USA        1
Germany    2
CHINA      5
Japan      4
dtype: int64

In [25]:
ser1['USA']

1

In [27]:
ser1[0]

1

In [28]:
ser1 + ser2

CHINA      NaN
Germany    4.0
INDIA      NaN
Japan      8.0
USA        2.0
dtype: float64